<a href="https://colab.research.google.com/github/jjyjung/python/blob/gh-pages/Python_algorithm_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
MY_LIST = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
def sample1(A, n):
  k = int(n/2)
  return A[k]

In [ ]:
sample1(MY_LIST, 4)

3

In [ ]:
def sample2(A, n):
  sum = 0
  for i in range(0, n):
    sum = sum + A[i]
  return sum

In [ ]:
sample2(MY_LIST, 5)

15

In [ ]:
def sample3(A, n):
  sum = 0
  for i in range(0, n):
    for j in range(0, n):
      sum = sum + A[i] * A[j]
  return sum

In [ ]:
sample3(MY_LIST, 5)

225

In [ ]:
import numpy as np

def sample4(A, n):
  sum = 0
  for i in range(0, n):
    for j in range(0, n):
      k_tmp = np.random.randint(low=0, high=len(A), size=int(len(A)/2))
      k = np.max(k_tmp)
      sum = sum + k
  return sum

In [ ]:
sample4(MY_LIST, 5)

184

In [ ]:
def sample5(A, n):
  sum = 0
  for i in range(0, n):
    for j in range(i+1, n):
      sum = sum + A[i] * A[j]
  return sum

In [ ]:
sample5(MY_LIST, 5)

85

In [ ]:
def factorial(n):
  print(n)
  if n > 1:
    return n*factorial(n-1)
  else:
    return 1

In [ ]:
fact = factorial(5)
print('fact', fact)

5
4
3
2
1
fact 120